@font-face {
    font-family: Metropolis;
    font-style: normal;
    font-weight: normal;
    src: local(''),
    url('../fonts/Metropolis-Regular.woff') format("woff"),
    url('../fonts/Metropolis-Regular.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: normal;
    font-style: italic;
    src: local(''),
    url('../fonts/Metropolis-RegularItalic.woff') format("woff"),
    url('../fonts/Metropolis-RegularItalic.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 100;
    font-style: normal;
    src: local(''),
    url('../fonts/Metropolis-Thin.woff') format("woff"),
    url('../fonts/Metropolis-Thin.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 100;
    font-style: italic;
    src: local(''),
    url('../fonts/Metropolis-ThinItalic.woff') format("woff"),
    url('../fonts/Metropolis-ThinItalic.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 400;
    font-style: normal;
    src: local(''),
    url('../fonts/Metropolis-Medium.woff') format("woff"),
    url('../fonts/Metropolis-Medium.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 400;
    font-style: italic;
    src: local(''),
    url('../fonts/Metropolis-MediumItalic.woff') format("woff"),
    url('../fonts/Metropolis-MediumItalic.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 300;
    font-style: normal;
    src: local(''),
    url('../fonts/Metropolis-Light.woff') format("woff"),
    url('../fonts/Metropolis-Light.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: 300;
    font-style: italic;
    src: local(''),
    url('../fonts/Metropolis-LightItalic.woff') format("woff"),
    url('../fonts/Metropolis-LightItalic.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: bold;
    font-style: normal;
    src: local(''),
    url('../fonts/Metropolis-Bold.woff') format("woff"),
    url('../fonts/Metropolis-Bold.otf') format("opentype");
}

@font-face {
    font-family: Metropolis;
    font-weight: bold;
    font-style: italic;
    src: local(''),
    url('../fonts/Metropolis-BoldItalic.woff') format("woff"),
    url('../fonts/Metropolis-BoldItalic.otf') format("opentype");
}
