.section.section--form{
    display: block;

    .section_content{
        max-width: $maxWidthContent;
        padding: 0;
        margin: 50px auto;

        .userform{
            .userform-fields{
                .form-step{
                    .field{
                        padding: 25px 0;

                        label{
                            display: inline-block;
                            margin-bottom: 10px;
                            font-weight: normal;
                        }

                        input{
                            border-radius: $simpleRadius;
                            border: transparent;
                            padding: 10px;
                            width: 100%;
                            height: 40px;
                        }

                        .error.message{
                            display: block;
                            padding: 10px 0;
                            color: red;
                        }

                        &.checkbox{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            .middleColumn{
                                display: flex;
                                align-items: center;
                                label{
                                    padding-left: 10px;
                                    margin: 0;
                                }
                            }

                            input{
                                width: 20px;
                                height: 20px;
                            }
                        }

                        &.optionset{
                            padding: 10px;
                            border-radius: $simpleRadius;
                            margin-left: -10px;

                            legend{
                                padding: 10px;
                            }
                            .middleColumn{
                                margin-top: -15px;
                                .odd{
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: flex-start;
                                    padding: 10px 0;
                                    input{
                                        width: 20px;
                                        height: 20px;
                                    }
                                    label{
                                        padding-left: 10px;
                                        margin: 0;
                                    }
                                }

                                .even{
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    justify-content: flex-start;
                                    padding: 10px 0;
                                    input{
                                        width: 20px;
                                        height: 20px;
                                    }
                                    label{
                                        padding-left: 10px;
                                        margin: 0;
                                    }
                                }
                            }
                        }

                        &.file{
                            .middleColumn {

                            }
                            input{
                                background-color: var(--colorBackgroundDark);
                                border-radius: $simpleRadius;
                                padding: 7px 10px;
                            }
                        }

                        &.requiredField{
                            label{
                                &::after{
                                    content: " *";
                                    color: var(--colorSecondary);
                                }
                            }
                        }
                    }

                    &::after{
                        content: "* required";
                        display: block;
                        margin-top: 20px;
                        color: var(--colorSecondary);
                    }
                }
            }

            .btn-toolbar{
                width: 100%;
                margin-top: 15px;

                .action{
                    display: inline-block;
                    padding: 10px 15px;
                    background-color: transparent;
                    border: 1px solid var(--colorPrimaryDark);
                    color: var(--colorPrimaryDark);
                    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
                    border-radius: 20px;

                    &:hover {
                        color: var(--colorWhite);
                        background-color: var(--colorPrimaryDark);
                    }

                    .theme--dark &{
                        color: $colorWhite;
                        border: 1px solid $colorWhite;

                        &:hover {
                            color: $colorPrimaryExtraDark;
                            background-color: $colorWhite;
                        }
                    }
                }
            }
        }
    }

    &.completed{
        background-color: green;
    }
}
