@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "normalize";
@import "variables";
@import "typography";

@import "layout/footer";
@import "layout/header";
@import "layout/textimage";
@import "layout/text";
@import "layout/imagebanner";
@import "layout/space";

body {
    background-color: $colorBackground;
}

.section {
  margin: 0px auto;
  padding: 0px 30px;
  transition: filter 0.3s;
  width: 100%;
  color: $colorWhite;

  @media screen and (max-width: 992px) {
    .body--show &{
      //filter: grayscale(100%);
    }
  }

  &.section--fullwidth{
    max-width: 100%;
  }
}

.section_content{
  max-width: $maxWidthContent;
  margin: 0 auto;
}

.readmore{
    padding: 10px ;
    background-color: $colorSecondary;
}
