@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "normalize";
@import "variables";
@import "typography";
@import "forms";

@import "layout/footer";
@import "layout/header";
@import "layout/textimage";
@import "layout/text";
@import "layout/imagebanner";
@import "layout/space";
@import "layout/notice";
@import "layout/face";
@import "layout/embed";
@import "layout/hero";
@import "layout/team";
@import "layout/chronic";

@import "layout/docs/docsholder";
@import "layout/docs/docs_category";

@import "layout/blog";
@import "layout/blogentry";

html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: $colorBackground;
    scroll-behavior: smooth;
    padding-top: 30px;
    min-height: 100%;
}

.section {
  margin: 0px auto;
  padding: 0px 30px;
  transition: filter 0.3s;
  width: 100%;

  &.section--fullwidth{
    max-width: 100%;
  }
}

.section_content{
  max-width: $maxWidthContent;
  margin: 30px auto;
}

.readmore{
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid $colorWhite;
    color: $colorWhite;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 20px;

    &:hover {
        color: $colorBlack;
        background-color: white;
    }
}
