@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "normalize";
@import "variables";
@import "typography";
@import "forms";

@import "layout/footer";
@import "layout/header";
@import "layout/textimage";
@import "layout/text";
@import "layout/imagebanner";
@import "layout/space";
@import "layout/notice";
@import "layout/face";
@import "layout/embed";
@import "layout/hero";
@import "layout/team";
@import "layout/blog";

body {
    background-color: $colorBackground;
}

.section {
  margin: 0px auto;
  padding: 0px 30px;
  transition: filter 0.3s;
  width: 100%;

  @media screen and (max-width: 992px) {
    .body--show &{
      //filter: grayscale(100%);
    }
  }

  &.section--fullwidth{
    max-width: 100%;
  }
}

.section_content{
  max-width: $maxWidthContent;
  margin: 30px auto;
}

.readmore{
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid $colorWhite;
    color: $colorWhite;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 20px;

    &:hover {
        color: $colorBlack;
        background-color: white;
    }
}
