body{
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    color: var(--colorBlack);
}

p{
    margin-top: 0;
    line-height: 1.4;

    &.white{
        color: $colorWhite;
    }

    &.centered{
        text-align: center;
    }
}

h1,h2,h3,h4{
    color: var(--colorPrimaryDark);
    padding: 0;
    margin: 10px 0 0 0;

    &.white{
        color: $colorWhite;
    }

    &.centered{
        text-align: center;
    }

    .theme--dark &{
        color: $colorWhite;
    }
}

h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

h2{
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

h3{
    font-weight: bold;
    letter-spacing: 1px;
}

h4{
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

li{
    line-height: 1.4;
}

a{
    cursor: pointer;
    color: $colorPrimary;
    text-decoration: none;

    &.centered{
        text-align: center;
    }

    &:hover {
        font-weight: bold;
    }

    &.white{
        color: $colorWhite;
    }

    .theme--dark &{
        color: $colorSecondary;
    }

    &.link--export{
        border-color: $colorPrimary;

        padding: 5px 15px 5px 45px;
        position: relative;
        display: inline-block;
        border: 1px solid $colorPrimary;
        border-radius: 20px;
        font-weight: 500;
        transition: 0.2s ease-in-out;
        p{
            color: $colorPrimary;
            margin: 0;
            padding: 0;
        }

        &::before{
            content: "";
            mask-image: url('../../icons/docs.svg');
            display: inline-block;
            height: 20px;
            width: 20px;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $colorPrimary;
        }

        &:hover{
            background-color: $colorPrimary;

            p{
                color: $colorWhite;
            }

            &::before{
                content: "";
                mask-image: url('../../icons/docs.svg');
                display: inline-block;
                height: 20px;
                width: 20px;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $colorWhite;
            }
        }
    }

    &.link--button{
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--colorPrimaryDark);
        border-radius: 20px;
        color: $colorWhite;
        font-weight: 500;
        transition: 0.2s ease-in-out;

        &.centered{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        &.right{
            position: relative;
            right: 0px;
            text-align: right;
        }

        &.hollow{
            background-color: transparent;
            border: 1px solid var(--colorPrimaryDark);
            color: var(--colorPrimaryDark);

            &:hover {
                background-color: var(--colorPrimaryDark);
                color: var(--colorWhite);

                .theme--dark &{
                    background-color: $colorWhite;
                    color: $colorBlack;
                }

                &.white{
                    background-color: $colorWhite;
                    color: $colorPrimaryDark;
                }
            }

            &.white{
                border-color: $colorWhite;
                color: $colorWhite;
            }
        }

        &:hover {
            text-decoration: none;
            background-color: var(--colorPrimaryDark);
        }
    }
}

strong{
    font-weight: 700;
    color: $colorPrimary;

    .theme--dark &{
        color: $colorSecondary;
    }
}

img{
    display: block;
    max-width: 100%;
    height: auto;

    &.center{
        margin: 0 auto;
    }

    &.rightAlone{
        margin-left: auto;
    }

    &.left{
        float: left;
        padding-right: 20px;
    }

    &.right{
        float: right;
        padding-left: 20px;
    }
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
