$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);


$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$colorPrimary: #1685C6;
$colorPrimaryDark: darken($colorPrimary, 20%);
$colorPrimaryExtraDark: #041824;
$colorPrimaryLight: lighten($colorPrimary, 10%);

$colorSecondary: #F79E02;
$colorSecondaryLight: lighten($colorSecondary, 30%);

$colorBackground: #E1E1E1;
$colorBackgroundDark: #cfcfcf;

$colorImportant: #7e0000;
$colorHint: #d68800;

$colorDarkGray: #1C1C1C;
$colorDarkGrayTrans: rgba($colorDarkGray, 0.8);

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorLightGray: #C4C4C4;
