$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);

//Primary Colors
$colorPrimary: #1685C6;
$colorPrimaryDark: #0C476AFF;
$colorPrimaryExtraDark: #041824;
$colorPrimaryLight: lighten($colorPrimary, 10%);

//Secondary Colors
$colorSecondary: #F79E02;
$colorSecondaryLight: lighten($colorSecondary, 30%);
$colorSecondaryDark: #D68800FF;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

//Background Colors
$colorBackground: #f1f1f1;
$colorBackgroundDark: #cfcfcf;
$colorBackgroundExtraDark: #0d202b;

//Special Colors
$colorImportant: #7e0000;
$colorHint: #d68800;

html{
    transition: 0.1s ease-in-out;
    --colorPrimary: #{$colorPrimary};
    --colorPrimaryDark: #{$colorPrimaryDark};
    --colorPrimaryExtraDark: #{$colorPrimaryExtraDark};
    --colorPrimaryLight: #{$colorPrimaryLight};
    --colorSecondary: #{$colorSecondary};
    --colorSecondaryLight: #{$colorSecondaryLight};
    --colorBackground: #{$colorBackground};
    --colorBackgroundDark: #{$colorBackgroundDark};
    --colorWhite: #{$colorWhite};
    --colorBlack: #{$colorBlack};
}

body.theme--dark{
    --colorPrimary: #{$colorPrimaryDark};
    --colorPrimaryDark: #{$colorPrimaryDark};
    --colorPrimaryExtraDark: #{$colorPrimaryDark};
    --colorPrimaryLight: #{$colorPrimaryDark};
    --colorSecondary: #{$colorSecondary};
    --colorSecondaryLight: #{$colorSecondaryLight};
    --colorBackground: #{$colorPrimaryExtraDark};
    --colorBackgroundDark: #{$colorBackgroundExtraDark};
    --colorWhite: #{$colorBlack};
    --colorBlack: #{$colorWhite};
}
