$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);


$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$colorPrimary: #1B9CE5;
$colorPrimaryDark: #093F5F;
$colorPrimaryLight: #6CDAEE;

$colorSecondary: #F79E02;

$colorDarkGray: #1C1C1C;
$colorDarkGrayTrans: rgba($colorDarkGray, 0.8);

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorLightGray: #C4C4C4;
