.section.section--faq{
    .section_content{
        padding: 40px 0;
        .section_title{
            text-align: center;
        }

        .section_list{
            .list_item{
                display: flex;
                align-items: stretch;
                transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out;
                overflow: hidden;

                .list_item_content{
                    transition: transform 0.1s ease-in-out;

                    .list_item_content_title{
                        display: inline-block;
                        position: relative;
                        padding-bottom: 10px;

                        &:hover{
                            color: $colorWhite;

                            &::after{
                                transform: translateX(3px) rotate(45deg);
                            }
                        }

                        &::after{
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            right: -15px;
                            top: calc(50% - 7px);
                            border-top: 2px solid var(--colorBlack);
                            border-right: 2px solid var(--colorBlack);
                            transform-origin: center;
                            transform: translateX(0px) rotate(45deg);
                            transition: 0.1s ease-in-out;
                        }
                    }
                    .list_item_content_date{
                        h3{
                            color: $colorWhite;

                        }
                        h4{
                            margin-top: 21px;
                            color: $colorWhite;
                        }
                        color: $colorWhite;
                    }

                    .list_item_content_text{
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-in-out;
                        margin-bottom: 10px;

                        img{
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }

                &.list_item--visible{
                    .list_item_content_text{
                        max-height: 800px;
                    }

                    .list_item_content_title{
                        &::after{
                            transform: translateX(0px) rotate(135deg);
                            right: -20px;
                            top: calc(50% - 9px);
                        }

                        &:hover{
                            &::after{
                                transform: translateX(3px) rotate(135deg);
                                right: -20px;
                                top: calc(50% - 9px);
                            }
                        }
                    }
                }

                &.inactive{
                    max-height: 0px;
                    opacity: 0;
                }

                &.active{
                    max-height: 400px;
                    opacity: 1;
                    &.list_item--visible{
                        max-height: 800px;
                    }
                }
            }
        }
    }
}
