.section.section--team_details{
    .section_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;

        .back{
            margin: 20px 0;
        }

        .teammember_item_image{
            width: 100%;
            max-width: 300px;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
        }
    }
}
