.section.section--team_overview{
    .section_content{
        background-color: var(--colorPrimary);
        color: $colorWhite;
        padding: 30px;
        border-radius: 20px;

        h2{
            color: $colorWhite;
            text-align: center;
            margin: 0px 0 20px 0;
        }

        h3{
            color: $colorWhite;
            text-align: center;
            margin: 30px 0 10px 0;
        }

        p{
            text-align: center;
            margin: 0px 0 20px 0;
        }

        .teammember_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .teammember_item{
                width: calc(100% / 4);
                padding: 10px;
                transform: scale(1);
                transition: transform 0.1s ease-in-out;

                .teammember_border{
                    border-radius: $doubleRadius;
                    height: 100%;
                    padding: 10px;
                    background: linear-gradient(45deg, rgba(22,133,198,1) 0%);
                    transition: 0.5s ease-in-out;
                    overflow: hidden;
                    border: 1px solid var(--colorWhite);

                    .teammember_texts{
                        color: $colorWhite;
                        font-weight: 200;
                        aspect-ratio: 1;

                        .teammember_item_name{
                            margin: 10px 0 5px 0;
                            font-weight: 600;
                        }

                        .teammember_item_profession{
                            margin: 0px 0px 5px 0px;
                        }

                        &:hover{
                            font-weight: 200;
                        }
                    }

                    .social_icons{
                        display: flex;
                        justify-content: center;
                        .social_icon{
                            filter: invert(0);
                        }
                    }
                }

                &:hover{
                    transform: scale(1.02);

                    .teammember_border{
                        background-color: $colorPrimary;
                        aspect-ratio: auto;
                    }
                }

                @include media("<desktop") {
                    width: calc(100% / 3);
                }
                @include media("<medium") {
                    width: calc(100% / 2);
                }
                @include media("<smartphone") {
                    width: calc(100% / 1);
                }
            }

            .face{

                border-radius: 50%;
                overflow: hidden;
                aspect-ratio: 1;
            }
        }
    }
}
