.section.section--blog{
    margin: 160px 0 80px 0;

    a{
        color: var(--colorPrimary);
    }

    .section_content{
        article{
            .itemlist{
                display: flex;
                flex-direction: column;
                .post_summary{
                    border-radius: 20px;
                    overflow: hidden;
                    display: flex;
                    background-color: var(--colorBackgroundDark);
                    margin: 20px 0;
                    flex-wrap: nowrap;
                    .post_image{
                        width: 40%;
                        flex-shrink: 0;
                        padding-right: 20px;
                        margin: 0;
                        position: relative;
                        a{
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.0));
                                transition: filter 0.2s ease-in-out;
                            }

                            &:hover{
                                img{
                                    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.4))
                                }
                            }
                        }

                        .category_icons{
                            position: absolute;
                            top: -1px;
                            right: 30px;
                            display: flex;
                            gap: 10px;
                            filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));

                            .category_icon{
                                width: 60px;
                                height: 60px;
                                transition: transform 0.1s ease-in-out;
                                clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
                                background-color: var(--colorPrimary);
                                padding: 15px;

                                img{
                                    width: 100%;
                                    height: 100%;
                                }

                                &:hover{
                                    img{
                                        transform: scale(110%);
                                    }
                                }
                            }
                        }
                    }
                    .post_text{
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        position: relative;

                        h2{
                            display: inline-block;

                            &:hover{
                                color: var(--colorPrimaryLight);
                            }
                        }



                        .meta {
                            color:var(--colorBlack);
                            .blog_post_meta {
                                a{
                                    color:var(--colorBlack);
                                }
                            }
                        }
                    }

                    @include media("<desktop") {
                        flex-wrap: wrap;

                        .post_image{
                            width: 100%;
                            padding: 0;
                            max-height: 200px;
                        }
                    }
                }

                @include media("<desktop") {
                    flex-direction: row;
                    gap: 10px;
                    .post_summary{
                        width: 50%;

                        .post_text{
                            .category_icons{
                                top: -1px;
                            }
                        }
                    }
                }

                @include media("<medium") {
                    flex-direction: column;
                    .post_summary{
                        width: 100%;
                    }
                }
            }
        }
    }

    @include media("<medium") {
        margin: 40px 0 80px 0;
    }
}
