.section.footer{
    background-color: $colorPrimaryExtraDark;
    margin: 0;
    padding-bottom: 0px;
    width: 100%;
    .footer_icon{
        position: relative;
        margin: 0 auto;
        top: -50px;
        width: 50%;
        max-width: 200px;
        img{
            width: 100%;
            height: auto;
        }
    }

    .footer_menu_container{
        position: relative;
        top: -20px;
        left: 0;
        color: $colorWhite;
        text-align: center;
        height: 50px;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            li{
                margin: 0px;
                list-style: none;
                a{
                    color: white;
                    padding: 10px 20px;
                }
            }
        }

        .footer_menu_socials{
            padding: 5px;
            height: 100%;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            padding-top: 20px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .social_button{
                height: 100%;
                img{
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
}
