.footer{
    background-color: $colorPrimaryDark;
    margin: 0;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    .footer_icon{
        position: relative;
        margin: 0 auto;
        top: -50px;
        width: 50%;
        max-width: 200px;
        img{
            width: 100%;
            height: auto;
        }
    }

    .footer_menu_container{
        position: relative;
        top: -20px;
        left: 0;
        color: white;
        text-align: center;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            li{
                margin: 0px;
                list-style: none;
                a{
                    color: white;
                }
            }
        }

    }
}
