.header {
    position: relative;
    .header_topbar{
        width: 100%;
        background-color: $colorPrimaryDark;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0px;
        margin-left: auto;
        height: 30px;
        margin-bottom: -10px;
        position: fixed;
        top: 0;
        z-index: 90;
        box-shadow: none;
        padding-right: 10px;
        transition: height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        ul{
            display: flex;
            justify-content: space-between;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            li{
                display: block;
                a{
                    font-size: 14px;
                    text-align: center;
                    padding: 8px 15px;
                    color: white;
                    display: block;
                }

                &:hover{
                    background-color: $colorSecondary;
                }

                ul{
                    display: none;
                }
            }

        }

        .header_topbar_socials{
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 5px;
            margin-right: 15px;
            height: 100%;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            .social_button{
                height: 100%;
                img{
                    width: auto;
                    height: 100%;
                }
            }
        }

        .header_topbar_logo{
            height: 20px;
            width: 10px;
            padding-right: 35px;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            a{
                img{
                    width: auto;
                    height: 100%;
                }

                &:hover{
                    svg{
                        path{
                        fill: $colorSecondary;
                        }
                    }
                }
            }
        }

        .header_topbar_language{
            ul{
                padding: 0;
                margin: 0;
            }
        }

        @media (max-width: $breakpoint-phone) {
            display: none;
        }
    }

    .header_mainbar{
        height: 100px;
        width: 100%;
        transition: height 0.3s, top 0.5s;

        position: fixed;
        pointer-events: none;
        top: 0px;
        z-index: 100;

        .header_mainbar_nav{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;

            max-width: $maxWidth;

            .nav_logo{
                padding-top: 10px;
                height: 100px;
                width: 150px;
                flex-shrink: none;
                transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
                pointer-events: auto;
                margin-right: 20px;
                position: relative;

                .nav_brand{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    transition: opacity 0.3s ease-out;
                    img{
                        display: block;
                        height: 100%;
                        width: auto;
                    }
                }

                .nav_brand_white{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    opacity: 0;
                    transition: opacity 0.3s ease-in;
                    img{
                        display: block;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            .nav_menu{
                background-color: $colorPrimaryDark;
                flex: 1 1 80%;
                border-radius: 10px;
                pointer-events: auto;
                transition: border-radius 0.5s ease-in-out, background-color 0.8s ease-in-out;
                overflow: hidden;

                ul{
                    display: flex;
                    justify-content: space-between;
                    margin: 0px;
                    padding: 0px;

                    li{

                        flex: 1 1 100%;
                        border-right: 1px solid $colorWhite;
                        text-align: center;

                        width: auto;
                        display: block;
                        color: $colorWhite;

                        a{
                            padding: 5px 0px;
                            color: inherit;
                            width: 100%;
                            display: block;
                        }

                        &:hover{
                            background-color: $colorSecondary;
                            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
                        }
                        &:last-of-type{
                            border-right: none;
                        }

                        ul{
                            display: none;
                        }
                    }
                }
            }
            @media (max-width: $breakpoint-phone) {
                display: none;
            }
        }
    }

    .header_mobile{
        display: none;
        position: relative;
        width: 100%;
        background-color: $colorDarkGray;
        height: 60px;
        transition: height 0.5s ease-in-out;
        z-index: 10;

        .nav_brand{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 80%;
                width: auto;
            }
        }

        .nav_button{
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 0px;
            width: 50px;
            height: 50px;
            transition: height 0.5s ease-in-out;
            cursor: pointer;

            .bar1, .bar2, .bar3, .bar4 {
                width: 35px;
                height: 5px;
                background-color: $colorWhite;
                transition: 0.4s;
                position: absolute;
            }

            .bar1{
                top: 6px;
                .body--show & {
                    opacity: 0;
                }
            }

            .bar2{
                top: 18px;
                .body--show & {
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
            }

            .bar3{
                opacity: 0;
                top: 18px;
                .body--show &{
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(-45deg);
                }
            }

            .bar4{
                top: 30px;
                .body--show &{
                    opacity: 0;
                }
            }

        }

        .nav_menu{
            display: block;
            max-height: 0px;
            transition: max-height 0.3s, opacity 0.3s;
            opacity: 0;
            background-color: $colorDarkGrayTrans;

            ul{
                list-style: none;
                margin: 0;
                padding: 0;

                li{
                    background-color: $colorPrimaryDark;
                    a{
                        color: $colorWhite;
                        padding: 20px 20px;
                        display: block;
                    }

                    &.nav_link--active{
                        padding-left: 20px;
                        position: relative;
                        background-color: $colorPrimary;
                        &::after{
                            position: absolute;
                            left: 0px;
                            top: 20px;
                            content: "";
                            width: 40px;
                            height: 40px;
                            transform: rotate(-45deg) translate(-10px, -25px);
                            background-color: $colorSecondary;
                        }
                    }
                }
            }

            .body--show &{
                opacity: 1;
                max-height: 400px;
            }
        }

        @media screen and (max-width: $breakpoint-phone) {
            display: block;
        }
    }

    &.menu--fixed{
        .header_topbar{
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .3);
            height: 40px;
            ul{
                opacity: 0;
            }
            .header_topbar_socials{
                opacity: 0;
            }
            .header_topbar_logo{
                opacity: 0;
            }
        }
        .header_mainbar{
            top: 2px;
            .header_mainbar_nav{
                .nav_logo{
                    height: 30px;
                    width: 60px;
                    padding: 0;
                    margin: 0;

                    .nav_brand{
                        opacity: 0;
                    }
                    .nav_brand_white{
                        opacity: 1;
                    }
                }
                .nav_menu{
                    background-color: $colorPrimaryDark;
                    border-radius: 0%;

                    padding-left: 20px;
                }
            }
        }
    }
}
