.header {
    position: relative;
    .header_topbar{
        width: 100%;
        background-color: var(--colorPrimaryExtraDark);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0px;
        margin-left: auto;
        height: 30px;
        margin-bottom: -10px;
        position: fixed;
        top: 0;
        z-index: 90;
        box-shadow: none;
        padding-right: 10px;
        transition: background-color 0.3s ease-in-out;

        ul{
            display: flex;
            justify-content: space-between;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            li{
                line-height: 1em;
                display: block;
                a{
                    font-size: 14px;
                    text-align: center;
                    padding: 8px 15px;
                    color: $colorWhite;
                    display: block;
                }

                &:hover{
                    background-color: var(--colorSecondary);
                }

                ul{
                    display: none;
                }
            }

        }

        .header_topbar_darkmode{
            display: block;
            position: relative;
            background-color: var(--colorPrimaryDark);
            padding: 5px;
            border-radius: 20px;
            left: 0px;
            transition: 0.2s ease-in-out;

            .checkbox {
                opacity: 0;
                position: absolute;
            }

            .label {
                width: 40px;
                height: 20px;
                display: flex;
                border-radius:50px;
                align-items: center;
                position: relative;
            }

            .ball {
                width: 20px;
                height: 20px;
                background-color: var(--colorWhite);
                position: relative;
                top: 0px;
                left: 0;
                border-radius: 50%;
                transition: transform 0.2s linear;

                svg{
                    color: var(--colorPrimary);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: scale(0.8);
                    object-fit: contain;
                    transition: 0.3s ease-in-out;

                    &:first-of-type{
                        opacity: 1;
                    }

                    &:last-of-type{
                        opacity: 0;
                    }

                    .theme--dark &{
                        color: $colorWhite;
                        &:first-of-type{
                            opacity: 0;
                        }

                        &:last-of-type{
                            opacity: 1;
                        }
                    }
                }

                .theme--dark &{
                    background-color: var(--colorPrimaryDark);
                }
            }

            /*  target the elemenent after the label*/
            .checkbox:checked + .label .ball{
                transform: translateX(20px);
            }

            .theme--dark &{
                background-color: var(--colorWhite);
            }
        }

        .header_topbar_socials{
            padding: 5px;
            height: 100%;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            gap: 5px;

            .social_button{
                height: 100%;
                img{
                    width: auto;
                    height: 100%;
                }
            }
        }

        .header_topbar_logo{
            height: 20px;
            width: 10px;
            padding-right: 35px;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            a{
                img{
                    width: auto;
                    height: 100%;
                }

                &:hover{
                    svg{
                        path{
                        fill: var(--colorSecondary);
                        }
                    }
                }
            }
            @include media("<medium") {
                display: none;
            }
        }

        .header_topbar_language{
            ul{
                padding: 0;
                margin: 0;
                li{
                    a{
                        font-weight: 500;
                    }
                }
            }
        }

        @include media("<medium") {
            top: 60px;
            right: 0;
            height: 50px;
            justify-content: space-between;
            margin: 0;
            padding: 10px;
            top: -60px;
            opacity: 0%;
            pointer-events: none;
            position: absolute;

            .header_topbar_language{
                ul{
                    display: block;
                }
            }

            .header_topbar_socials{
                display: none;
            }

            ul{
                display: none;
            }

            .body--show &{
                top: 60px;
                opacity: 100%;
                pointer-events: all;
            }
        }
    }

    .header_mainbar{
        height: 100px;
        width: 100%;
        transition: height 0.3s, top 0.5s;

        position: fixed;
        pointer-events: none;
        top: 5px;
        z-index: 100;

        .header_mainbar_nav{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;

            max-width: $maxWidth;

            .nav_logo{
                height: 80px;
                width: 150px;
                flex-shrink: 0;
                transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
                pointer-events: auto;
                position: relative;

                .nav_brand{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    opacity: 1;
                    transition: opacity 0.3s ease-out;
                    img{
                        display: block;
                        height: 100%;
                        width: auto;

                        .theme--dark &{
                            filter: grayscale(1) brightness(100);
                        }
                    }
                }

                .nav_brand_white{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    opacity: 0;
                    transition: opacity 0.3s ease-in;
                    img{
                        display: block;
                        height: 100%;
                        width: auto;
                    }
                }
            }

            .nav_menu{
                margin-left: 10px;
                background-color: var(--colorPrimary);
                flex: 1 1 80%;
                border-radius: 20px;
                pointer-events: auto;
                transition: border-radius 0.5s ease-in-out, background-color 0.8s ease-in-out;
                overflow: hidden;

                ul{
                    display: flex;
                    justify-content: space-between;
                    margin: 0px;
                    padding: 0px;

                    li{

                        flex: 1 1 100%;
                        border-right: 1px solid $colorWhite;
                        text-align: center;

                        width: auto;
                        display: block;
                        color: $colorWhite;
                        transition: background-color 0.1s ease-in-out;

                        a{
                            padding: 5px 0px;
                            color: inherit;
                            width: 100%;
                            display: block;
                        }

                        &:hover{
                            background-color: var(--colorSecondary);
                            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
                        }
                        &:last-of-type{
                            border-right: none;
                        }

                        ul{
                            display: none;
                        }
                    }
                }
            }
            @include media("<medium") {
                display: none;
            }
        }
    }

    .header_mobile{
        display: none;
        position: relative;
        width: 100%;
        background-color: var(--colorPrimaryExtraDark);
        height: 60px;
        transition: height 0.5s ease-in-out;
        z-index: 10;

        .header_mobile_socials{
            height: 100%;
            display: flex;
            align-items: center;
            position: absolute;
            left: 5px;

            .social_button{
                height: 48px;
                width: 48px;
                padding: 10px 10px;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }

        .nav_brand{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 80%;
                width: auto;
            }
        }

        .nav_button{
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 0px;
            width: 50px;
            height: 50px;
            transition: height 0.5s ease-in-out;
            cursor: pointer;

            .bar1, .bar2, .bar3, .bar4 {
                width: 35px;
                height: 5px;
                background-color: $colorWhite;
                transition: 0.4s;
                position: absolute;
            }

            .bar1{
                top: 6px;
                .body--show & {
                    opacity: 0;
                }
            }

            .bar2{
                top: 18px;
                .body--show & {
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
            }

            .bar3{
                opacity: 0;
                top: 18px;
                .body--show &{
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(-45deg);
                }
            }

            .bar4{
                top: 30px;
                .body--show &{
                    opacity: 0;
                }
            }

        }

        .nav_menu{
            display: block;
            max-height: 0px;
            transition: max-height 0.3s, opacity 0.3s;
            opacity: 0;
            pointer-events: none;
            position: relative;
            top: 50px;

            ul{
                list-style: none;
                margin: 0;
                padding: 0;

                li{

                    a{
                        background-color: var(--colorPrimaryDark);
                        color: $colorWhite;
                        padding: 20px;
                        display: block;
                    }

                    &.nav_link--active{

                        position: relative;
                        a{
                            padding-left: 40px;
                            background-color: $colorPrimary;
                        }
                        &::after{
                            position: absolute;
                            left: 0px;
                            top: 28px;
                            content: "";
                            width: 30px;
                            height: 30px;
                            transform: rotate(-45deg) translate(-10px, -25px);
                            background-color: var(--colorSecondary);
                        }
                    }
                }
            }

            .topbar_menu{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                border-top: 2px solid var(--colorSecondary);
                li{
                    width: 100%;
                    a{
                        height: 100%;
                        padding: 15px;
                    }

                    &.nav_link--active{
                        &::after{
                            display: none;
                        }
                    }
                }
            }

            .body--show &{
                opacity: 1;
                pointer-events: all;
                max-height: 400px;
            }
        }

        @include media("<medium") {
            display: block;
        }
    }

    .totopbutton{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 200;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
        background-color: var(--colorPrimaryLight);
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        &.totop--visible{
            opacity: 1;
            pointer-events: all;
        }

        span{
            display: table;
            position: relative;
            top: 5px;
            left: 13px;
            width: 50%;
            height: 50%;
            border: solid $colorWhite;
            border-width: 0 10px 10px 0;
            display: inline-block;
            padding: 5px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }

    &.menu--fixed{
        .header_topbar{
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .3);
            height: 40px;
            ul{
                opacity: 0;
                pointer-events: none;
            }
            .header_topbar_socials{
                opacity: 0;
                pointer-events: none;
            }
            .header_topbar_logo{
                opacity: 0;
            }
            .header_topbar_darkmode{
                left: 160px;
                @media only screen and (max-width: calc($maxWidth + 200px)){
                    opacity: 0;
                }
            }
        }
        .header_mainbar{
            top: 4px;
            .header_mainbar_nav{
                .nav_logo{
                    height: 30px;
                    width: 60px;
                    padding: 0;
                    margin: 0;

                    .nav_brand{
                        opacity: 0;
                    }
                    .nav_brand_white{
                        opacity: 1;
                    }
                }
                .nav_menu{
                    background-color: var(--colorPrimaryExtraDark);
                    border-radius: 0%;

                    padding-left: 20px;
                }
            }
        }
    }
}
