.section.section--headerimage{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
    overflow: hidden;
    align-items: center;
    position: relative;

    .section_content{
        display: block;
        width: 100%;
        height: calc(100%);
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: -100;
    }

    .section_title{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;

        @include media("<medium") {
            bottom: 0px;
            h1{
                font-size: 30px;
            }
        }
    }

    &.overlay--hero{
        background: transparent;
        position: relative;

        &::after{
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0px;
            left: 0;
            background-color: var(--colorBackground);
            mask-image: url("../../../src/images/hero-wave.svg");
            mask-size: 100% 100%;
            mask-repeat: 0;
            z-index: -10;

            @include media("<desktop") {
                width: 200%;
                transform: translateX(-25%);
            }
        }
    }
}
