.section.section--hero{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    height: 700px;
    background-color: transparent;
    overflow: hidden;
    align-items: center;
    position: relative;
    transition: height 0.3s ease;

    .section_content{
        display: block;
        width: 100%;
        height: calc(100% + 10vh);
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: -100;
    }

    .section_inner{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        max-width: $maxWidthContent;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        img{
            display: block;
            width: 50%;
            height: auto;
            transition: width 0.3s ease;

            @include media("<medium") {
                width: 80%;
            }
        }

        .section_inner_subline{
            font-size: 30px;
            color: white;
            text-align: center;
        }

        @include media("<medium") {
            padding: 30px;
        }
    }

    @include media("<medium") {
        height: 500px;
    }

    &.overlay--darker{
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.overlay--darkest{
        background-color: rgba(0, 0, 0, 0.75);
    }

    &.overlay--primary{
        background-color: rgba(var(--colorPrimaryDark), 0.7);
    }

    &.overlay--secondary{
        background-color: rgba(var(--colorSecondary), 0.5);
    }

    &.overlay--fadeout{
        background: var(--colorBackground);
        background: linear-gradient(0deg, rgba(var(--colorBackground), 1) 0%, rgba(var(--colorBackground), 0) 30%, rgba(var(--colorBackground), 0) 70%, rgba(var(--colorBackground), 1) 100%);
    }

    &.overlay--fadeout2{
        background: var(--colorBackground);
        background: linear-gradient(0deg, rgba(var(--colorBackground), 1) 0%, rgba(var(--colorBlack), 0.3) 100%);
        .section_description{
            color: var(--colorBlack);
        }
    }

    &.variant--limited{
        max-width: $maxWidth;
        .section_description{
            max-width: $maxWidth;
            padding-left: 30px;
        }

        .section_content{
            height: calc(100% + 30vh);
        }
    }

    &.variant--hovering{
        max-width: $maxWidth;
        margin: 50px auto;
        max-width: $maxWidthContent;
        box-shadow: 0px 0px 10px black;

        .section_description{
            padding-left: 30px;
        }

        .section_content{
            height: calc(100% + 30vh);
        }
    }
}
