.section.section--imagebanner{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
    overflow: hidden;
    align-items: center;
    position: relative;

    .section_content{
        display: block;
        width: 100%;
        height: calc(100% + 10vh);
        max-width: 100%;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: -100;
    }

    .section_description{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        max-width: $maxWidthContent;

        @include media("<desktop") {
            padding: 30px;
        }
    }

    &.overlay--darker{
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.overlay--darkest{
        background-color: rgba(0, 0, 0, 0.75);
    }

    &.overlay--primary{
        background-color: rgba($colorPrimaryDark, 0.7);
    }

    &.overlay--secondary{
        background-color: rgba($colorSecondary, 0.5);
    }

    &.overlay--fadeout{
        background: $colorBackground;
        background: linear-gradient(0deg, rgba($colorBackground, 1) 0%, rgba($colorBackground, 0) 30%, rgba($colorBackground, 0) 70%, rgba($colorBackground, 1) 100%);
    }

    &.variant--limited{
        max-width: $maxWidth;
        .section_description{
            max-width: $maxWidth;
            padding-left: 30px;
        }

        .section_content{
            height: calc(100% + 30vh);
        }
    }

    &.variant--hovering{
        max-width: $maxWidth;
        margin: 50px auto;
        max-width: $maxWidthContent;
        box-shadow: 0px 0px 10px black;

        .section_description{
            padding-left: 30px;
        }

        .section_content{
            height: calc(100% + 30vh);
        }
    }
}
