.section_pagination {
    padding: 20px 0;
    text-align: center;

    .page {
        display: inline-block;
        width: 36px;
        text-align: center;
        padding: 10px;
        background-color: $colorPrimaryLight;
        color: $colorWhite;
        text-decoration: none;
        border-radius: 50%;

        .theme--dark &{
            background-color: $colorPrimary;
        }

        &.page--current {
            background-color: $colorPrimaryDark;
        }
    }
}
