.section.section--space{
    padding: 0;
    position: relative;
    padding: 0;

    .section_line{
        padding: 0 30px;
        max-width: $maxWidth;
        margin: 0 auto;
        height: 50%;
        display: block;
        border-bottom: 2px solid $colorPrimaryDark;
    }

    .section_diamond{
        padding: 0 30px;
        max-width: $maxWidth;
        background-color: $colorBackground;
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;

        .section_diamond_line{
            width: 50%;
            display: block;
            border-bottom: 2px solid $colorPrimaryDark;
        }

        .section_diamond_inner{
            width: 10px;
            max-width: 15px;
            height: 10px;
            max-height: 15px;
            display: block;
            transform-origin: center;
            transform: rotate(45deg);
            margin: 10px;
            background-color: $colorPrimaryDark;
        }
    }

    .section_icon{
        padding: 0 30px;
        max-width: $maxWidth;
        background-color: $colorBackground;
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;

        .section_icon_line{
            width: 50%;
            display: block;
            border-bottom: 2px solid $colorPrimaryDark;
        }

        .section_icon_image{

            height: 50px;
            width: 50px;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            display: block;
            transform-origin: center;
            margin: 10px;
            background-color: $colorPrimaryDark;
        }
    }

    .section_waves{
        height: 100%;
        width: 100%;
        position:relative;
        bottom:0;
        left: 0;
        background: $colorBackground;
        overflow: hidden;

        .wave {
            background: linear-gradient(0deg, rgba($colorPrimaryExtraDark,1) 0%, rgba($colorPrimary,0.8) 100%);
            //background: $colorPrimaryExtraDark;
            mask-image: url("../../images/space-wave.svg");
            mask-repeat: repeat-x;
            position: absolute;
            bottom: 0px;
            width: 300vw;
            height: 50px;
            animation: wave 120s linear infinite;
            transform-origin: bottom;
            transform: translate3d(0, 0, 0);

            &:nth-child(2){
                animation: wave 100s linear infinite, pulse 80s alternate ease-in-out infinite;
            }
            &:nth-child(3){
                animation: wave 160s linear infinite, pulse 160s alternate ease-in-out infinite;
            }

            @keyframes wave {
                0% {
                    margin-left: 0;
                }
                100% {
                    margin-left: -100vw;
                }
            }

            @keyframes pulse {
                0% {
                    transform: scale3d(1,1,1);
                }
                100% {
                    transform: scale3d(1, 0.2, 1);
                }
            }
        }


    }
}
