.section.section--text{
    .section_content{
        .text_title{
            color: $colorWhite;
        }
    }

    &.section--text-center {
        .text_title{
            text-align: center;
        }
        .text_content {
            text-align: center;

            @media screen and (max-width: 991px) {
                padding-right: 34px;
                padding-left: 34px;
            }
        }
    }
}
