.section.section--text{

    .section_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: $maxWidthContent;
        padding: 40px 0;

        .text_title{
            margin-top: 0;
            margin-bottom: 10px;
            padding-top: 0;
        }

        .text_content{

        }

        .text_text_button{
            border-color: var(--colorPrimaryDark);
            color: var(--colorPrimaryDark);

            .theme--dark &{
                border-color: $colorWhite;
                color: $colorWhite;

                &:hover{
                    color: $colorPrimaryDark;
                }
            }

            &:hover{
                color: $colorWhite;
            }
        }

        @include media("<medium") {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    &.style--text-center {
        .section_content{
            align-items: center;
            .text_title{
                text-align: center;
            }
            .text_content {
                text-align: center;
            }
        }
    }

    &.style--text-right {
        .section_content{
            align-items: flex-end;
            .text_title{
                text-align: right;
            }
            .text_content {
                text-align: right;
            }
        }
    }

    &.color--darker{
        background-color: var(--colorBackgroundDark);
    }

    &.color--blue{
        background-color: var(--colorPrimary);
        color: $colorWhite;

        .section_content{

            .text_title{
                color: $colorWhite;
            }

            .text_text_button{
                border-color: $colorWhite;
                color: $colorWhite;
                &:hover{
                    background-color: $colorWhite;
                    color: $colorPrimary;
                }
            }
        }
    }
}
