.section.section--docs_attraction{
    padding: 0 0 40px 0;

    .section_content{
        border-top: 1px solid var(--colorPrimary);
        border-bottom: 1px solid var(--colorPrimary);
        padding: 20px 0;
        overflow: visible;
        position: relative;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;

        .attraction_text{
            grid-column: 2/-1;
            grid-row: 2/3;

            @include media("<medium") {
                grid-row: 3/4;
                grid-column: 1/-1;

                padding-top: 30px;
            }
        }

        .attraction_attributes{
            padding: 0 20px 20px 0;
            grid-column: 1/2;
            grid-row: 2/3;
            background-color: var(--colorPrimaryLight);
            border-radius: 20px;
            padding: 20px;
            margin-right: 20px;
            float: left;

            .attribute{
                display: grid;
                grid-template-columns: 35px auto;
                overflow: hidden;
                align-items: center;

                color: $colorBlack;

                .title{
                    width: 30px;
                    height: 30px;
                }

                .value{
                    margin: 0;
                    padding: 10px;
                    text-align: left;
                    color: $colorWhite;
                    border-radius: 20px;

                    &.bar{
                        width: 100%;
                        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                        overflow: hidden;
                        mask-size: 100% 100%;
                        padding: 0;
                        border-radius: 0;
                        background-color: $colorPrimary;

                        .theme--dark &{
                            background-color: $colorPrimaryExtraDark;
                        }

                        p{
                            height: 20px;
                            background-color: $colorWhite;
                            margin: 0;
                        }
                    }
                }
            }

            @include media("<medium") {
                grid-column: 1/-1;
                margin-right: 0px;
            }
        }

        .attraction_gallery{
            position: relative;
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            gap: 20px;
            background-color: var(--colorPrimary);
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 30px;
            grid-column: 1/-1;
            grid-row: 1/2;

            .item_gallery_image{
                display: block;
                width: 200px;
                height: 200px;
                flex-shrink: 0;
                border-radius: 10px;
                overflow: hidden;
            }
        }

        ::-webkit-scrollbar {
            height: 10px;
            width: 4px;
            border: 1px solid var(--colorPrimaryLight);
            background: $colorBackground;
        }

        ::-webkit-scrollbar-thumb:horizontal{
            background-color: var(--colorPrimaryLight);
            border-radius: 10px;
        }

        .attraction_infolist{
            grid-column: 1/-1;
            grid-row: 3/4;

            padding-top: 20px;

            .attraction_info{
                .info_name{
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    &::after{
                        content: "";
                        position: absolute;
                        display: block;
                        top: 50%;
                        transform-origin: center;
                        transform: translateY(-50%) rotate(-45deg);
                        right: -20px;
                        width: 10px;
                        height: 10px;
                        border-right: 2px solid var(--colorPrimary);
                        border-bottom: 2px solid var(--colorPrimary);
                        transition: 0.3s;
                    }
                }

                .info_content{
                    opacity: 0;
                    max-height: 0px;
                    transition: 0.3s;
                    padding-top: 10px;
                }

                &.list_item--visible{
                    .info_name::after{
                        transform: translateY(-70%) rotate(45deg);
                    }

                    .info_content{
                        opacity: 1;
                        max-height: 2000px;
                    }
                }
            }

            @include media("<medium") {
                grid-row: 4/5;
                padding: 0 40px 20px 0;
            }
        }

        @include media("<desktop"){
            grid-template-columns: 300px auto;
            padding: 20px 20px;
        }
    }
}
