.section.section--docs_title{
    .section_content{
        position: relative;
        margin: 0 auto;
        a{
            margin-top: 10px;
            margin-bottom: 30px;
            opacity: 0.3;
            &:hover{

            opacity: 1;
            }
        }

        .attraction_icon{
            position: absolute;
            right: 0;
            top: 15px;
            width: 120px;
            height: 120px;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            @include media("<medium") {
                left: 50%;
                transform: translateX(-50%);
                opacity: 0.1;
                z-index: -10;
            }
        }
    }
}
