.section.section--docs_header {
    padding: 0;
    min-height: 90px;

    .section_content{
        display: block;
        height: 500px;
        width: 100%;
        max-width: $maxWidth;
        position: relative;
        margin-top: -20px;

        .header_image_wrap {
            position: relative;
            top: 30px;
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            //box-shadow: 0 10px 5px 20px $colorBackground inset;
            background: linear-gradient(180deg, rgba($colorBackground, 1) 1%, rgba($colorBackground, 0) 10%, rgba($colorBackground, 0) 50%, rgba($colorBackground, 0) 70%, rgba($colorBackground, 1) 90%);

            background-color: transparent;
            overflow: hidden;
            position: relative;

            .theme--dark &{
                background: linear-gradient(180deg, rgba($colorPrimaryExtraDark, 1) 1%, rgba($colorPrimaryExtraDark, 0) 10%, rgba($colorPrimaryExtraDark, 0) 50%, rgba($colorPrimaryExtraDark, 0) 70%, rgba($colorPrimaryExtraDark, 1) 100%);
            }

            .header_image {
                display: block;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                position: relative;
                z-index: -100;
            }
        }
    }

    @include media("<desktop") {
        min-height: 20px;
    }
}
