.section.section--docsholder{
    .section_content{
        min-height: 50vh;
        .docscategories_list{
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
            .docscategory_wrap{
                width: 33%;
                padding: 10px;
                .docscategory{
                    overflow: hidden;
                    border-radius: 20px;
                    padding: 10px;
                    height: 100%;
                    text-align: center;
                    background-color: $colorBackground;
                    border: 1px solid $colorPrimary;

                    h2{
                        margin: 10px 0 0 0;
                    }

                    .docs_list{
                        display: block;
                        padding: 5px;
                        .list_item{
                            margin: 10px 0;
                            display: block;
                            padding: 10px;
                            background-color: transparent;
                            border: 1px solid $colorPrimary;
                            color: $colorWhite;
                            transition: background-color 0.2s ease-in-out;
                            border-radius: 20px;

                            h4{
                                transition: color 0.2s ease-in-out;
                            }

                            &:hover {
                                h4{
                                    color: $colorWhite;
                                }
                                background-color: $colorPrimary;
                            }

                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }

                        .list_more{
                            max-width: 75%;
                            border: none;
                            margin: 20px auto 5px auto;
                            display: block;
                            color: $colorPrimary;
                            h5{
                                margin: 0;
                            }

                            &:hover {
                                color: $colorPrimaryDark;
                            }
                        }
                    }
                }

                @include media("<desktop") {
                    width: 50%;
                }

                @include media("<smartphone") {
                    width: 100%;
                }
            }
        }

        @include media("<=medium") {
            padding: 10px 0 60px 0;
        }
    }
}
