.section.section--docs_title{
    margin-top: -70px;
    .section_content{
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        a{
            margin-top: 10px;
            margin-bottom: 30px;
            opacity: 0.3;
            &:hover{

            opacity: 1;
            }
        }

        .backbutton{
            display: inline-block;
            height: 26px;
            width: 26px;
            padding: 0;
            margin: 0;
            flex-shrink: 0;
            &::before{
                content: "";
                border-left: 2px solid white;
                border-bottom: 2px solid white;
                display: inline-block;
                height: 13px;
                width: 13px;
                position: relative;
                left: 8px;
                top: 7px;
                transform: rotate(45deg);
            }
        }

        .header_text_title{
            padding-left: 20px;
            margin-top: 5px;
        }

        .attraction_icon{
            position: absolute;
            right: 0;
            top: 15px;
            width: 120px;
            height: 120px;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            @include media("<medium") {
                left: 50%;
                transform: translateX(-50%);
                opacity: 0.1;
                z-index: -10;
            }
        }
    }

    &.noimage{
        margin-top: 10px;
    }
}
